*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:#fff;
    height: 5rem;
   line-height: 5rem;
   
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  
}
.choice:hover{
   
    cursor: pointer;
    background-color: #081b31;
}
.choice{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 2rem;
}
#user-score,#comp-Score{
    font-size: 4rem;
}
.mssg-container{
    margin-top: 5rem;
}
#mssg{
    
    background-color:#081b31 ;
    color: #fff;
   
    font-size: 2rem;
  
    margin-top: 5rem;
    display: inline;
}